<% content_for :head do %>
	<title>Поиск | <%= get_site_name %></title>
<% end %>

<div class="channels_wrap channel_item clear">
	<div class="col_large" style="width: 100%;">
		<div class="col_wrapper">
			<h3>Поиск</h3>

			<div class="search_inner">
				<form action="/search" method="get">
					<input name="q" type="text" placeholder="Поиск" value="<%= params[:q] %>" />
					<span></span>
				</form>
			</div>
					
			<div class="news_list">
				<% @posts.each do |post| %>
				<a data-load="ajax" href="<%= post.link %>" title="<%= post.title %>" class="simple clear">
					<div class="simple_image" style="background-image:url(<%= post.main_image.url %>);">
						
						<span class="stats"><%= post.total_total %></span>
					</div>
					<div class="simple_desc">
						

						<p><%= post.title %></p>
						<span class="posted_at"><%= post.posted_at %> / <%= post.channel_category.name %></span>
						<span class="lit_desc"><%= post.description %></span>
					</div>
				</a>
				<% end %>
			</div>
			<%= will_paginate @posts %>
		</div>
	</div>
</div>