<% thumbs = [:thumb_one, :thumb_two, :thumb_tree] %>
<% i = 0 %>
<% z = 0 %>
<% @posts.each do |post| %>
	<section class="news_item <%= post.type %>">
		<section class="news_desc">
			<h1><a href="/<%= post.slug %>"<% if post.view_type == true %> target="_blank"<% end %>><%= post.title %></a></h1>
			<span><%= time_ago_in_words(post.created_at) %></span>
			<% if post.description %><p><%= post.description %></p><% end %>
		</section>
		<section class="news_image">
			<a href="/<%= post.slug %>"<% if post.view_type == true %> target="_blank"<% end %>><%= image_tag post.main_image.url(thumbs[i]) %></a>
			<section class="cat_tag">
				<%= link_to(get_category_name(post), get_category_seo(post), :class => "news_cat") %>
				<%=raw post.type_icons %>
			</section>
			<section class="news_stats">
				<section class="nbox v_count">
					<i class="eye"><%= post.views %></i>
				</section>
				<section class="nbox add_to<%= ' liked' if can_like(post) %>" data-id="<%= post.id %>">
					<i class="like"><%= post.rating %></i>
				</section>
			</section>
			<div class="clear"></div>
		</section>
	</section>
	<% unless request.xhr? %>
		<% z += 1 %>
		<% if z == 3 %>
		<section class="news_item <%= post.type %>">
			<section class="news_desc" style="display:none">
			</section>
			<section class="news_image" style="height:430px;">
				<div class="fb-like-box" data-href="https://www.facebook.com/kiosque.az?ref=stream" data-width="290" data-height="400" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
				<div class="clear"></div>
			</section>
		</section>
		<% end %>
	<% end %>
	<% i += 1 %>
	<% i = 0 if i == 2 %>
<% end %>
<%= will_paginate @posts %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=223100641076688";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>