<% content_for :head do %>
	<title>Фото | <%= get_site_name %></title>
<% end %>

<div class="channels_wrap channel_item clear">
	<div class="col_large">
		<div class="col_wrapper">
			<h3>Фото</h3>
			<div class="news_list">
				<% @posts.each do |post| %>
				<a href="<%= post.link %>" title="<%= post.title %>" class="simple clear">
					<div class="simple_image" style="background-image:url(<%= post.main_image.url %>);">
						
						<span class="stats"><%= post.total_total %></span>
					</div>
					<div class="simple_desc">
						

						<p><%= post.title %></p>
						<span class="posted_at"><%= post.posted_at %> / <%= post.channel_category.name %></span>
						<span class="lit_desc"><%= post.description %></span>
					</div>
				</a>
				<% end %>
			</div>
			<%= will_paginate @posts %>
		</div>
	</div>
	<div class="col top_channel_w">
		<div class="col_wrapper">
			<h3>Популярные</h3>
			<div class="news_list">
				<% i = 0 %>
				<% @posts.each do |post| %>
				<% i += 1 %>
				<% if i == 1 %>
				<a href="<%= post.link %>" title="<%= post.title %>" class="braking" style="background-image:url(<%= post.main_image.url(:thumb) %>);">
					<div class="br_wrap"><p><%= post.title %></p><span class="stats"><%= post.self_total_count.to_i + post.total_count.to_i %></span></div>
				<% else %>
				<a href="<%= post.link %>" class="simple" title="<%= post.title %>">
					<p><%= post.title %></p><span class="stats"><%= post.total_total %></span>
				<% end %>
				</a>
				<% end %>
			</div>
		</div>
	</div>
	
	
</div>