<% content_for :head do %>
	<title><%= get_site_name %></title>
<% end %>

<div class="channels_wrap">
	<% Category.all.each do | category | %>
	<div class="col">
		<div class="col_wrapper">
			<h3><a href="<%= category.slug %>"><%= category.name %></a></h3>
			<div class="news_list">
				<% i = 0 %>
				<% category.posts.published.order('total_total DESC').limit(10).each do | post | %>
				<% i += 1 %>
				<% if i == 1 %>
				<a href="<%= post.link %>" title="<%= post.title %>" data-load="ajax" class="braking" style="background-image:url(<%= post.main_image.url(:thumb) %>);">
					<div class="br_wrap"><p><%= post.title %></p><span class="stats"><%= post.self_total_count.to_i + post.total_count.to_i %></span></div>
				<% else %>
				<a href="<%= post.link %>" class="simple" data-load="ajax" title="<%= post.title %>">
					<p><%= post.title %></p><span class="stats"><%= post.total_total %></span>
				<% end %>
				</a>
				<% end %>
			</div>
		</div>
	</div>
	<% end %>
</div>
