<% content_for :head do %>
<title><%= @post.title %> | <%= get_site_name %></title>
<meta property="og:title" content='<%= @post.title %>'/>
<meta property="og:image" content="<%= get_site_url + @post.main_image.url %>"/>
<meta property="og:url" content="<%= get_site_url + @post.link %>"/>
<meta property="og:site_name" content="<%= get_site_name %>"/>
<meta property="og:type" content="article"/>
<% end %>

<script type="text/javascript">
var news_data = [];

<% if @post.similars.count > 0 %>
	<% @similars.each do |similar| %>
			news_data.push(['<%= similar.post.channel.channel_category.name %>', <%= similar.post.total_total %>]);
	<% end %>
<% end %>

</script>


<script>
	$(document).ready(function(){
		$('#container').highcharts({
			chart: {
				type: 'column',
				backgroundColor:'rgba(255, 255, 255, 0)'
			},
			title: {
				text: '',
				style: {
					display: 'none'
				}
			},
			subtitle: {
				text: '',
				style: {
					display: 'none'
				}
			},
			tooltip: {
				shadow:false,
				backgroundColor:"white",
				borderWidth:0,
				useHTML:true,
				formatter: function() {
					return '<b class="title_tooltip">'+this.point.name+'</b><br/><u class="int_tooltip">'+ Highcharts.numberFormat(this.y, 0)+'</u>';
				}
			},
			xAxis: {
				type: 'category',
				labels:{
				   rotation:0,
					align: 'center',
					overflow:false,
					useHTML:true
				},
				tickWidth:0
			},
			yAxis: {
				minorGridLineColor: '#f1a851',
				gridLineColor: '#f1a851',
				minorTickInterval: 'auto',
				min: 0,
				title: {
					text: ''
				},
				style: {
					display: 'none'
				},
				labels: {
					enabled: false
				},
			},
			credits: {
				enabled: false
			},
			legend: {
				enabled: false
			},
			plotOptions: {
				column: {
					borderWidth:"0",
					color:"white"
				}
			},
			series: [{
				 data: news_data,
				pointWidth: 5
			}]
		});
	});
</script>

<div class="news_single">
	<div class="news_cover" style="background-image:url(<%= @post.main_image.url %>);">
		<div class="cover_b">
			<a href="javascript:void(0);" class="close"><span></span></a>
			<div class="news_cat"><a href="<%= @post.category.slug %>"><%= @post.category.name %></a> / <%= @post.channel_category.name %></div>
			
			<div class="news_title">
				
				<span class="stats"><%= @post.total_total %></span>
				<h1><%= @post.title %></h1>
				<span class="posted_at"><%= @post.posted_at %></span>
			</div>
		</div>
	</div>
	<div class="news_pp clear">
		<div class="news_pp_left">
			<h2><%= @post.description %></h2>
			
			<%=raw @post.body %>
			
			<div class="from">
			Источник: <a href="<%= @post.source %>" target="_blank"><%= @post.source %></a>
			</div>

			<script type="text/javascript">(function() {
			  if (window.pluso)if (typeof window.pluso.start == "function") return;
			  if (window.ifpluso==undefined) { window.ifpluso = 1;
			    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
			    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
			    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + ':/ /share.pluso.ru/pluso-like.js';
			    var h=d[g]('body')[0];
			    h.appendChild(s);
			  }})();</script>
			<div class="pluso" data-background="none;" data-options="big,square,line,horizontal,counter,sepcounter=1,theme=14" data-services="vkontakte,odnoklassniki,facebook,twitter,google"></div>

		</div>
		<div class="news_pp_right">
			<% if @post.similars.count > 0 %>
			<h2>Похожие по контенту</h2>
			<div class="graph">
				<div class="graph_self">
					<div id="container" style="min-width: 100%; max-width: 100%; height: 100%;"></div>
				</div>
				<% if @post.similars.count > 0 %>
					<div class="bottom_self">
						<div class="bs_wrap">
							<h4>MOST SHARED</h4>
							<h3><%= @first_similar_post.post.title %></h3>
							<div class="top_in"><%= @first_similar_post.post.total_total %></div>
						</div>
					</div>
				<% end %>
			</div>
			<% end %>
			<% if @populars.count > 0 %>
			<h2>Популярные</h2>
				<% @populars.each do |post| %>
				<a href="<%= post.link %>" data-load="ajax" class="simple" title="<%= post.title %>">
					<p><%= post.title %></p><span class="stats"><%= post.total_total %></span>
				</a>
				<% end %>
			<% end %>
		</div>
		
	</div>
</div>
