// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
.cke_chrome {
  width: 76% !important;
  overflow: hidden;
}
.main_image_select {
	float:left;
	margin:1px;
	width:75px;
	cursor:pointer;
}
.main_image {
	width:125px;
	clear:both;
}
.main_image img {
	width:125px;
}
.category_select {
	margin: 7px 0;
}
.publish_status_div {
	width:100%;
	clear:both;
}