* { 
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}

body { 
position:relative;
font: 14px/1.4 Arial, Serif; 
z-index:0; 
background:#31313e;
overflow-x: hidden;
}

.screen-reader-text { position: absolute; left: -9999px; top: -9999px; }

img {
border: 0;
}

.nowrap {
white-space: nowrap;
font-size: 10px;
font-weight: bold;
margin-top: 0;
margin-bottom: 0;
}

h1, h2, h3, h4 { 
font-weight:normal; 
}

h1 { 
font-size:2.4em;
}

h2 {
font-size:1.4em;
}

h3 {
font-size:1.2em;
}

a {
color:#30a5cc;
text-decoration:none;
}

a:hover {
text-decoration:underline;
} 

a:focus {
outline:none;
text-decoration:underline;
}

ul {
list-style:none;
}

input { 
outline:none; 
} 

input:focus { 
outline:none; 
} 

b {
font-weight:normal;

}

.clear:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
* html .clear             { zoom: 1; } /* IE6 */
*:first-child+html .clear { zoom: 1; } /* IE7 */


@font-face {
    font-family: "Bold";
    src: url(<%= asset_path("font/Roboto-Bold.eot") %>);
    src: url(<%= asset_path("font/Roboto-Bold.eot?#iefix") %>)format("embedded-opentype"),
    url(<%= asset_path("font/Roboto-Bold.woff") %>) format("woff"),
    url(<%= asset_path("font/Roboto-Bold.ttf") %>) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Regular";
    src: url(<%= asset_path("font/Roboto-Regular.eot") %>);
    src: url(<%= asset_path("font/Roboto-Regular.eot?#iefix") %>)format("embedded-opentype"),
    url(<%= asset_path("font/Roboto-Regular.woff") %>) format("woff"),
    url(<%= asset_path("font/Roboto-Regular.ttf") %>) format("truetype");
    font-style: normal;
    font-weight: normal;
}

header {
width: 100%;
height: 70px;
border-bottom: 3px solid #393946;
position: relative;
z-index: 2;
}


.header_wrap {
max-width:1240px;
min-width:1000px;
margin:0 auto;
position:relative;
}

.logo {
width: 120px;
height: 70px;
position: absolute;
top: 0px;
left: 2%;
background: url(<%= asset_path("img/logo.png") %>) no-repeat center center;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

.logo:hover {
background: url(<%= asset_path("img/logo.png") %>) no-repeat center center #252531;
}

.menu {
width: 90%;
text-align: center;
margin: 0 5%;
}

.menu li {
display:inline-block;
font-family: "Bold";
margin:0 15px;

}

.menu li a {
color: white;
text-decoration: none;
padding: 24px 5px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
display: block;
border-bottom:3px solid transparent;
}

.menu li a.active, .menu li a:hover {
border-bottom:3px solid #ff3f3f;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

.right_l {
position:absolute;
top:0px;
right:2%;
}

.search {
border:3px solid #5d5d6a;
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
position:relative;
}

.search input{
width: 175px;
padding: 10px 15px;
font-family: "Regular";
color: white;
margin: 0 20px 0 0;
}

.search input::-webkit-input-placeholder { /* WebKit browsers */
color:#5d5d6a;
}

.search {
margin: 14px 0;
float:right;
}

.select_region {
float:right;
position:relative;
}

.search span {
width: 30px;
height: 30px;
display: block;
background: url(<%= asset_path("img/search.png") %>) no-repeat 32px 8px;
position: absolute;
top: 3px;
right: 5px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

.search span.active {
background: url(<%= asset_path("img/search.png") %>) no-repeat 8px 8px;
}

.r_s {
width: 50px;
height: 35px;
display: block;
background: url(<%= asset_path("img/region.png") %>) no-repeat center center;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
margin: 18px 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.r_s:hover, .r_s.active{
background: url(<%= asset_path("img/region.png") %>) no-repeat center center #252531;
}

.main_wrapper {
max-width:1240px;
min-width:1000px;
margin:0 auto;
padding:40px 0;
}

.col {
width:33.333%;
margin:0 0 40px 0;
}

.col_large {
width: 66.333%;
}

.channel_item .col_large{
float:left;
}

.channel_item .col_large .col_wrapper {
width: 94%;
}

.channel_item .col {
float:right;
}

.col_wrapper {
width: 88%;
margin: 0 auto;
}

.col h3, .col_large h3{
color: #5d5d6a;
margin: 0 0 7px 0;
font-family: "Regular";
font-size: 1.6em;
}

.col h3 a {
color: #5d5d6a;
}

.simple {
font-family: "Regular";
color: white;
text-decoration: none;
display: block;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
position: relative;
padding: 5px 10px;
margin: 0 -10px;
}

.simple p {
width: 85%;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
-o-text-overflow: ellipsis;
}

.simple:hover {
background:#252531;
text-decoration:none;
}

.stats {
position: absolute;
top: 5px;
right: 10px;
font-family: "Regular";
background: url(<%= asset_path("img/stats.png") %>) no-repeat 0px 3px;
padding: 0 0 0 16px;
font-size: 0.9em;
}

.news_list {
width:100%;
}

.braking {
width:100%; height:135px;
display:block;
background-size:cover;
background-position:center center;
background-repeat:no-repeat;
position:relative;
margin: 13px 0 5px 0;
color:white;
}

 

.br_wrap p{
padding: 15px 20px;
font-family: "Regular";
font-size: 1.8em;
height: 60px;
overflow: hidden;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
text-overflow: ellipsis;
display: -webkit-box;
}

.br_wrap .stats {
position: absolute;
left: 20px;
bottom: 15px;
top: auto;
}

.br_wrap {
width:100%; height:100%;
background: url(<%= asset_path("img/bg.png") %>) no-repeat 0 0 rgba(0,0,0,0.5);
position:absolute;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

.braking:hover .br_wrap {
background: url(<%= asset_path("img/bg.png") %>) no-repeat 0 0 rgba(0,0,0,0.8);
}

.sl_list {
position: absolute;
background: #252531;
top: 58px;
left: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
display:none;
}

.sl_list ul {
margin:10px 0;
}

.sl_list a {
display: block;
padding: 3px 10px;
font-family: "Regular";
text-decoration: none;
color: #5d5d6a;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
font-size: 0.9em;
}


.sl_list a:hover, .sl_list a.active {
background:#21212a;
}

.all_wrapper {
top:0px;
left:0;
position:relative;
-webkit-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
   -moz-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
     -o-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
        transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}

.all_wrapper.abs_p {
top:0px;
left:-5%;
}


.news_bg {
width: 100%;
height: 100%;
position: fixed;
top: 0px;
right: 0px;
z-index: 8;
display:none;
background:rgba(0,0,0,0.5);
}

.news_pop_up {
width:50%; height:auto;
background:#dfdfdf;
position:fixed;
top:0px;
right:-50%;
z-index:9;
-webkit-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-moz-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-o-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
display:none;
overflow-y: scroll;
}

.news_pop_up.show_news {
right:0%;
}

.news_cover {
width:100%;
height:350px;
background:#25252f;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
position:relative;
}

.news_pp_left {
font-family: "Regular";
color: #2f2f35;
padding: 5% 0 5% 5%;
line-height: 1.7em;
font-size: 1.1em;
width: 65%;
float:left;
}

.news_pp_left img {
max-width:100%; height:auto;
display:block;
margin:10px 0 0 0;
}

.news_pp_right {
width: 20%;
float: right;
margin: 5% 5% 5% 0;
}

.news_pp_right a {
color:#a5a5a5;
}

.news_pp_right .stats {
background: url(<%= asset_path("img/stats_gray.png") %>) no-repeat 0px 3px;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

.news_pp_right a:hover {
color:white;
}

.news_pp_right a:hover .stats {
background: url(<%= asset_path("img/stats.png") %>) no-repeat 0px 3px;
}

.news_pp_right h2 {
font-family: "Regular";
color: #5d5d6a;
margin:0 0 10px 0;
}

.news_pp_left h2 {
margin:0 0 15px 0;
}

.news_pp_left p{
margin:0 0 15px 0;
}

.news_pp_left a {
color: #2f2f35;
text-decoration:underline;
}

.posted_at {
font-family: "Regular";
color:white;
opacity:0.5;
font-size:0.85em;
}

.cover_b {
width: 100%;
height: 100%;
background: url(<%= asset_path("img/bg.png") %>) no-repeat 0 0 rgba(0,0,0,0.5);
position: absolute;
background-size: 100% 100%;
}

.news_title {
padding:5%;
position:absolute;
left:0px;
bottom:0px;
}

.news_cat {
padding: 20px 5%;
position: absolute;
left: 0px;
top: 0px;
color: rgba(255,255,255,0.5);
font-family: "Regular";
}

.news_cat a {
color: rgba(255,255,255,0.5);
text-decoration:underline;
}

.news_title .stats {
position: relative;
color: white;
right: 0;
top: 0;
}

.news_title h1 {
font-family: "Regular";
color: white;
font-size: 2em;
}

.main_wrapper .close {
	display: none;
}

.close {
width: 50px;
height: 50px;
border: 3px solid rgba(255,255,255,0.5);
position: absolute;
right: 20px;
top: 20px;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

.close span{
position: absolute;
width:100%; height:100%;
display:block;
top:0px;
left:0px;
background: url(<%= asset_path("img/close.png") %>) center center no-repeat;
background-size: 40%;
opacity:0.5;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

.close:hover {
border: 3px solid rgba(255,255,255,1);
}

.close:hover span {
opacity:1;
}

.news_pop_up .news_single {
width: 100%;
background: #dfdfdf;
margin: 0;
}
.news_single {
width: 96%;
background: #dfdfdf;
margin: -40px auto 0 auto;
}

.news_pop_up .news_pp_left{
width: 90%;
}

.news_pop_up .news_pp_right {
width: 90%;
}

.simple_image {
width:20%;
height: 120px;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
float:left;
position:relative;
}

.simple_desc {
width: 77%;
float: right;
}

.col_large .simple {
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
padding: 10px;
}

.col_large .simple p {
width: auto;
white-space: normal;
overflow: hidden;
text-overflow: inherit;
-o-text-overflow: inherit;
font-size: 1.1em;
}

.col_large .simple .lit_desc {
color: #5d5d6a;
font-size: 0.9em;
overflow: hidden;
margin: 13px 0 0 0;
display: block;
height: 56px;
text-overflow: ellipsis;
-webkit-box-orient: vertical;
display: -webkit-box;
-webkit-line-clamp: 3;
}

.category_sub {
background:#ff3f3f;
overflow:hidden;
height:0px;
-webkit-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-moz-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-o-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}

.category_sub.show {
height:39px;
}

.c_sub_wrap {
max-width: 1240px;
min-width: 1000px;
margin: 0 auto;
text-align:center;
height:39px;
overflow:hidden;
}

.c_sub_wrap li {
display:inline-block;
font-family: "Bold";
position:relative;
top:-39px;
}

.c_sub_wrap a {
color: white;
padding: 10px 8px;
display: block;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

.c_sub_wrap a:hover, .c_sub_wrap .active a {
background:#f13b3b;
text-decoration:none;
}

.c_sub_wrap.show li{
top:0px;
}

.cat_1 {
-webkit-transition: all 200ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-moz-transition: all 200ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-o-transition: all 200ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
transition: all 200ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}

.cat_2 {
-webkit-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-moz-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-o-transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
transition: all 300ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}

.cat_3 {
-webkit-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-moz-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-o-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}

.cat_4 {
-webkit-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-moz-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-o-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}

.cat_5 {
-webkit-transition: all 600ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-moz-transition: all 600ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-o-transition: all 600ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
transition: all 600ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}

.cat_6 {
-webkit-transition: all 700ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-moz-transition: all 700ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-o-transition: all 700ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
transition: all 700ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}

.cat_7 {
-webkit-transition: all 800ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-moz-transition: all 800ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-o-transition: all 800ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
transition: all 800ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}

.cat_8 {
-webkit-transition: all 900ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-moz-transition: all 900ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-o-transition: all 900ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
transition: all 900ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}

.cat_9 {
-webkit-transition: all 1000ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-moz-transition: all 1000ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
-o-transition: all 1000ms cubic-bezier(1.000, 0.000, 0.000, 1.000); 
transition: all 1000ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}

.menu_opr {
display:none;
}

.pagination {
font-family: "Regular";
margin:10px 0 0 0;
}

.pagination a, .pagination em, .pagination span{
color: white;
text-decoration: none;
background: #252531;
font-size: 0.9em;
padding: 5px 10px;
display: inline-block;
font-style:normal;
}

.pagination span {
opacity:0.3;
}

.pagination em, .pagination a:hover {
background:#16151f;
-webkit-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}

.sub_for_mobile {
display:none;
}

footer {
padding:15px 0;
text-align:center;
font-family: "Regular";
font-size:0.9em;
border-top: 3px solid #393946;
}

footer li {
display:inline-block;
margin:0 5px;
}

footer li a {
color:white;
text-decoration:underline;
}

footer p {
color: #5d5d6a;
margin:5px 0 0 0;
}
footer span {
color: #ff3f3f;
}
footer a {
color: #fff;
text-decoration:underline;
}

.news_pp_right {
width:20%;
margin:5% 5% 5% 0;
float:right;
}

.graph {
width:100%;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
background:white;
margin:0 0 20px 0;
}

.graph_self {
width:100%; height:185px;
background:#ef9326;
-webkit-border-top-left-radius: 15px;
-webkit-border-top-right-radius: 15px;
-moz-border-radius-topleft: 15px;
-moz-border-radius-topright: 15px;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
padding: 10px 0 0 0;
}

.bs_wrap {
padding:15px 20px;
}

.highcharts-axis-labels {
width: 90%;
height: 20px;
top: 150px !important;
left:5% !important;
}

.highcharts-axis-labels span {
width: 20% !important;
display: inline-block !important;
font-size: 0.65em !important;
position: relative !important;
text-align: center;
top: 0px !important;
left: 0px !important;
font-family: "Regular" !important;
text-transform:uppercase !important;
color:white !important;
}

.title_tooltip{
font-family: "Regular";
color:#a0a0a0;
}

.int_tooltip {
font-family: "Bold";
color: #2f2f35;
text-decoration:none;
}

.bs_wrap h4 {
font-family: "Regular";
color:#a0a0a0;
font-size:0.9em;
}

.bs_wrap h3{
font-family: "Bold";
font-size:0.9em;
color: #2f2f35;
}

.top_in {
font-family: "Bold";
font-size: 3.5em;
color: #2f2f35;
line-height: 1em;
}

body.overflow {
overflow:hidden;
}

.static_page {
width:90%;
margin:0 5%;
}

.static_page h1{
font-family: "Bold";
color:white;
}

.page_content {
font-family: "Regular";
color:white;
opacity: 0.5;
}

.search_inner {
width:96%;
padding:2%;
background:rgba(0,0,0,0.5);
margin:0 0 20px 0;
}

.search_inner input {
font-family: "Regular";
color:white;
background: url(<%= asset_path("img/search.png") %>) no-repeat top right;
width: 100%;
}

@media screen and (max-width:600px) {
	
	.main_wrapper, .header_wrap {
	max-width: 100%;
	min-width: 100%;
	}
	
	.col {
	width: 100%;
	margin: 0 0 30px 0;
	position: relative !important;
	left: 0px !important;
	top: 0px !important;
	}
	
	.search {
	display:none;
	}
	
	.right_l {
	position: absolute;
	top: 0px;
	left: 35%;
	right: auto;
	}
	
	.menu {
	width: 100%;
	text-align: center;
	margin: 0;
	position: absolute;
	top: 73px;
	}
	
	.menu li {
	width: 100%;
	margin: 0;
	}
	
	.menu li a {
	padding: 13px 5px;
	}
	
	.menu {
	background: #31313e;
	-webkit-box-shadow: 0px 63px 80px rgba(0,0,0,0.7);
	box-shadow: 0px 63px 80px rgba(0,0,0,0.7);
	display:none;
	}
	
	.r_s {
	margin: 18px 0px;
	}
	
	.sl_list {
	left:0px;
	}
	
	.main_wrapper {
	padding: 20px 0;
	}
	
	.menu_opr {
	width: 50px;
	height: 35px;
	display: block;
	background: url(<%= asset_path("img/menu.png") %>) no-repeat center center;
	margin: 18px 10px;
	display:block;
	position:absolute;
	top:0px;
	right:0px;
	}
	
	.col_large {
	width: 100%;
	}
	
	.simple_desc {
	width: 100%;
	margin: 10px 0 0 0;
	}
	
	.simple_image {
	width: 100%;
	height: 120px;
	}
	
	.channel_item .col_large .col_wrapper {
	width: 88%;
	}
	
	.logo {
	left: 4%;
	}
	
	.news_single {
	width: 88%;
	background: #dfdfdf;
	margin: 0px auto 0 auto;
	}
	
	.news_title h1 {
	font-family: "Regular";
	color: white;
	font-size: 1.3em;
	}
	
	.news_cover {
	width: 100%;
	height: 280px;
	}
	
	.news_pp_left {
	width: 90%;
	}

	.top_channel_w {
	display:none;
	}

	.sub_for_mobile {
	width:100%;
	background:#ff3f3f;
	}

    .news_pp_right {
    width:90%;
    }

}