<!doctype html>
<html>
<head>
<link rel="shortcut icon" href="/favicon.ico" />
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="<%= get_site_url %>feed.rss" rel="alternate" title="RSS" type="application/rss+xml" />

<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default" />
<link rel="icon" type="image/png" href="<%= asset_path("icons/favicon-32x32.png") %>" sizes="32x32" />
<link rel="icon" type="image/png" href="<%= asset_path("icons/favicon-96x96.png") %>" sizes="96x96" />
<link rel="icon" type="image/png" href="<%= asset_path("icons/favicon-16x16.png") %>" sizes="16x16" />
<link rel="apple-touch-icon" sizes="57x57" href="<%= asset_path("icons/apple-touch-icon-57x57.png") %>" />
<link rel="apple-touch-icon" sizes="60x60" href="<%= asset_path("icons/apple-touch-icon-60x60.png") %>" />
<link rel="apple-touch-icon" sizes="72x72" href="<%= asset_path("icons/apple-touch-icon-72x72.png") %>" />
<link rel="apple-touch-icon" sizes="76x76" href="<%= asset_path("icons/apple-touch-icon-76x76.png") %>" />
<link rel="apple-touch-icon" sizes="114x114" href="<%= asset_path("icons/apple-touch-icon-114x114.png") %>" />
<link rel="apple-touch-icon" sizes="120x120" href="<%= asset_path("icons/apple-touch-icon-120x120.png") %>" />
<link rel="apple-touch-icon" sizes="144x144" href="<%= asset_path("icons/apple-touch-icon-144x144.png") %>" />
<link rel="apple-touch-icon" sizes="152x152" href="<%= asset_path("icons/apple-touch-icon-152x152.png") %>" />
<link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path("icons/apple-touch-icon-180x180.png") %>" />
<link rel="icon" type="image/png" href="<%= asset_path("icons/android-chrome-192x192.png") %>" sizes="192x192" />



<script>
	var this_page = '<%= current_url_2 %>';
</script>

<%= yield :head %>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => false %>
<%= javascript_include_tag "application", "data-turbolinks-track" => false %>

<!--[if IE]>
<%= javascript_include_tag "selectivizr-min", "data-turbolinks-track" => false %>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
<![endif]-->

<%= csrf_meta_tags %>
</head>
<body>
	
	<% categories = Category.all %>
	<% categories_slugs = [] %>
	<% categories.each { |category| categories_slugs << category.slug } %>

	<div class="news_pop_up"></div>
	<div class="news_bg"></div>
	<div class="all_wrapper">
		<header>
			<div class="header_wrap">
				<a href="/" class="logo"></a>
				<div class="menu">
					<ul>
						<li><a href="javascript:void(0)" class="chan_opener <%= is_active(categories_slugs) %>">Каналы</a>
							<div class="sub_for_mobile">
									<ul>
										<% categories.each do | category | %>
										<li><a href="<%= category.slug %>" class="<%= is_active(category.slug) %>"><%= category.name %></a></li>
										<% end %>
									</ul>
							</div>
						
						</li>
						<li><a href="/video" class="<%= is_active("video") %>">Видео</a></li>
						<li><a href="/photo" class="<%= is_active("photo") %>">Фото</a></li>
					</ul>
				</div>
				<div class="right_l">
					<div class="search">
						<form action="/search" method="get">
							<input name="q" type="text" placeholder="Поиск" value="<%= params[:q] %>" />
							<span></span>
						</form>
					</div>
					<div class="select_region">
						<a href="javascript:void(0)" class="r_s"></a>
						<div class="sl_list">
							<ul>
								<li><a href="http://newsify.az">Azərbaycan</a></li>
								<li><a href="http://newsify.ru" class="active">Россия</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="menu_opr"></div>
			</div>
		</header>
		<div class="category_sub">
			<div class="c_sub_wrap">
				<ul>
					<% i = 0 %>
					<% categories.each do | category | %>
					<% i += 1 %>
					<li class="cat_<%= i %> <%= is_active(category.slug) %>"><a href="<%= category.slug %>"><%= category.name %></a></li>
					<% end %>
				</ul>
			</div>
		</div>
		<div class="main_wrapper <% if @action == "index" %>main_it<% end %>">
			<%= yield %>
		</div>
		<footer>
			<ul>
				<li><a href="/about">О проекте</a></li>
				<li><a href="/contacts">Контакты</a></li>
			</ul>
			<p>© 2015 Newsify. Все права защищены. Newsify сделано с <span>♥</span> в <a href="http://origami.agency" target="_blank">origami.agency</a></p>

		</footer>
	</div>

<% if request.host.include?("ru") %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-61787781-1', 'auto');
  ga('send', 'pageview');
</script>
<% elsif request.host.include?("az") %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-61787781-2', 'auto');
  ga('send', 'pageview');
</script>
<% end %>
</body>
</html>